*{
SCROLLBAR-ARROW-COLOR:#FFFFFF;
SCROLLBAR-FACE-COLOR:#0066CC;
SCROLLBAR-DARKSHADOW-COLOR:#336699;
SCROLLBAR-HIGHLIGHT-COLOR:#3399FF;
SCROLLBAR-3DLIGHT-COLOR:#003399;
SCROLLBAR-SHADOW-COLOR:#333333;
SCROLLBAR-TRACK-COLOR:#FFFFFF;
}
body{
width:100%;
height:100%;
}
dl,dt,dd,ul,li,ol{
padding:0;
margin:0;
list-style:none;
}
a{
text-decoration:none;
color:black;
}