dl.list2{
height:100%;
width:100%;
padding:1px;
margin:0;
}
dl.list2 dt{
border:0px solid red;
width:100%;
background:url(../images/l-tab_bg_l.gif) no-repeat left top;
margin-top:1px;
}
dl.list2 dt a{
text-decoration:none;
background:url(../images/l-tab_bg_r.gif) no-repeat right top;
display:block;
line-height:24px;
padding-left:5px;
color:white;
}
dl.list2 dt.current{
background:url(../images/l-tab_current_bg_l.gif) no-repeat left top;
}
dl.list2 dt.current a{
background:url(../images/l-tab_current_bg_r.gif) no-repeat right top;
color:black;
}

dl.list2 dd{
width:expression(this.parentNode.clientWidth-4);
border-top:none;
border:1px solid #4A7AA2;
border-top:none;
}
